<h1>Listing tweets</h1>

<table  class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user.email %></td>
        <td><%= tweet.content %></td>
        <td>  
                  <%= link_to user_tweet_path(tweet.user, tweet.id) do %>
                    <i class="icon-search"></i>
                  <% end %>
                  <% if tweet_owner(tweet.user) %>
                    <%= link_to edit_user_tweet_path(tweet.user, tweet.id) do %>
                      <i class="icon-pencil"></i>
                    <% end %>
                    <%= link_to(user_tweet_path(tweet.user, tweet.id), method: :delete, data: { confirm: 'Are you sure?' }) do %>
                      <i class="icon-trash"></i>
                    <% end %>
                 <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>