<!DOCTYPE html>
<html>
<head>
  <title>RznuTwitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Rznu-Twitter</a>
    <ul class="nav">
      <li><%= link_to "Home", root_path%></li>
      <% if signed_in? %>
        <li><%= link_to "My Profile", current_user %></li>
        <li><%= link_to "All Users", users_path %></li>
        <li><%= link_to "New Tweet", new_user_tweet_path(current_user)%></li>
        <li><%= link_to "Routes", routes_path %></li>
        <li><%= link_to "Logs path", logs_path %></li>
      <% end %>
    </ul>
    <ul class="nav pull-right">
      <% if signed_in? %>
        <li><%= link_to "Sign Out", signout_path, method: :delete%></li>
      <% else %>
        <li><%= link_to "Login", signin_path %></li>
        <li><%= link_to "Register", signup_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<%= yield %>
</div>
</body>
</html>
